{% extends 'base.html' %}

{% block base_content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center">Add Project</h3>
                    <form action="{{ url_for('projects_bp.add_projects') }}" method="POST">
                        <div class="mb-3">
                            <label for="name" class="form-label">Project Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="members" class="form-label">Members</label>
                            <select multiple class="form-control" id="members" name="members">
                                {% for user in user_list %}
                                    <option value="{{ user['_id'] }}">
                                        {{ user['Name'] }} - {{ user['Role'] }}
                                    </option>
                                {% endfor %}
                            </select>
                            <small class="form-text text-muted">Hold down the Ctrl (Windows) / Command (Mac) button to select multiple options.</small>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Add Project</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
