{% extends 'base.html' %}

{% block base_content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center">Register</h3>
                    <form action="{{ url_for('users_bp.add_user') }}" method="POST">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="role" class="form-label">Role</label>
                            <select class="form-control" id="role" name="role" required>
                                <option value="developer">Developer</option>
                                <option value="project_manager">Project Manager</option>
                                <option value="designer">Designer</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="projects" class="form-label">Projects</label>
                            <select multiple class="form-control" id="projects" name="projects">
                                {% for project in all_projects %}
                                    <option value="{{ project['_id'] }}" 
                                        {% if project['_id'] in user['Projects'] %} selected {% endif %}>
                                        {{ project['Name'] }}
                                    </option>
                                {% endfor %}
                            </select>
                            <small class="form-text text-muted">Hold down the Ctrl (Windows) / Command (Mac) button to select multiple options.</small>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
